<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGSD Technology Inventory System</title>
    <link rel="stylesheet" href="../stylesheet.css">
</head>

<div class="topnav">
    <div class="dropdown">
        <button class="dropbtn">Office Supplies
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/">Storage Room</a>
            <a href="/officeItems">Office Supplies</a>
        </div>
    </div>
    <a href="/addOffice">Add Item</a>
    <a href="/updateOffice">Update Item</a>
    <a href="/quickOfficeAdd">Quick Add</a>
    <a class="active" href="/quickOfficeTake">Quick Take</a>
    <a href="/deleteOffice">Delete Item</a>
    <a href="/printOfficef">Print Mode</a>
    <a href="/officeInventory">Inventory Mode</a>
    <a href="/logout">Logout</a>
    <a class="navbar-brand" href="#" style="max-width: 10%;">
        <img src="logo-mooresville.png" class="img-fluid">
    </a>
</div>

<body>
<br>
<br>
<h1 class="center">Quick Take</h1>
<form action="/takeOffice" method="POST" class = "center">
    <label for="asset">Asset Number</label>
    <input id="asset" name="asset" type="text" aria-required="true" placeholder="Enter Asset Number" autofocus="autofocus">
    <hr class="solid">
    <input type="submit" value="Submit">
</form>
</body>
</html>